8/6/2020

In [1]:
print('hello')

SyntaxError: invalid syntax (<ipython-input-1-46f90bc9c54d>, line 5)

In [2]:
print('new')

new

here you can write notes

8/10/2020

In [3]:
2+1

3

In [4]:
2-1

1

In [5]:
2*2

4

In [6]:
3/2

1.5

Modulo or "Mod" Operator: gives remainder

In [7]:
7/4

1.75

In [8]:
7%4

3

In [9]:
50 % 5

0

In [10]:
23 % 2

1

Exponentials: **

In [11]:
2 ** 3

8

In [12]:
2 + 10 * 10 + 3

105

In [13]:
(2 + 10) * (10 + 3)

156

In [14]:
a = 5

a

a = 10

a

a + a

a = a + a 

a

type(a)

a = 30.1

type(a)

float

In [15]:
#if redefine special variable in python, restart kernel to get it back 

my_income = 100
tax_rate = 0.1

my_taxes = my_income * tax_rate

my_taxes

10.0

8/13/2020

In [17]:
'hello'

"world"

'this is also a string'

#'I'm going on a run'

"I'm going on a run"

print("hello")

"hello world one"
"hello world two"

print("hello world one")
print("hello world two")

#escape sequences

print('hello \nworld')

#\n for new line, \t for tab

len('hello')

len('i am')

mystring = 'Hello World'

mystring[0]

mystring[8]

mystring[9]

mystring[-3]

mystring = 'abcdefghijk'

mystring

mystring[2:]

mystring[:3]

mystring[3:6]

mystring[1:3]

mystring[::]

mystring[::2]

mystring[2:7:2]

mystring[::-1]

#Properties and methods 

name = 'Sam'

# name[0] = 'P'

last_letters = name[1:]

last_letters

'P' + last_letters

x = 'Hello World'

x = x + " it is beautiful outside!"

x

letter = 'z'

letter * 10

2+3

'2' + "3"

x = 'Hello World'

x.upper()

x.lower()

x.split()

x = 'Hi this is a string'

x.split('i')

hello
hello world one
hello world two
hello
world

['H', ' th', 's ', 's a str', 'ng']

8/19/2020

In [18]:
# injecting variable into string for printing AKA string interpolation
my_name = 'Jose'
print('Hello' + my_name)

HelloJose

In [19]:
# 2 methods: .format() and f-strings
# .format(): 'String here {} then also {}'.format('something1', 'something2')

print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [22]:
# strings can be inserted by index value
print('The {} {} {}'.format('fox', 'brown', 'quick'))
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox brown quick
The quick brown fox
The fox fox fox

In [23]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [25]:
# float formatting "{value:width.(precision)f}"
result = 100/777

In [26]:
result

0.1287001287001287

In [30]:
print('The result was {r:10.5f}.'.format(r=result))

The result was    0.12870

In [31]:
result = 104.12345

In [32]:
print('The result was {r:1.2f}.'.format(r=result))

The result was 104.12

In [33]:
# f-strings
name = 'Jose'

In [34]:
print('Hello, his name is {}.'.format(name))

hello, his name is Jose

In [35]:
print(f'Hello, his name is {name}.')

Hello, his name is Jose

In [36]:
name = 'Sam'

In [37]:
age = 3

In [38]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

Lists

In [39]:
my_list = [1, 2, 3]

In [40]:
my_list = ['string', 100, 23.2]

In [41]:
len(my_list)

3

In [42]:
mylist = ['one', 'two', 'three']

In [43]:
mylist[0]

'one'

In [44]:
mylist[1:]

['two', 'three']

In [45]:
another_list = ['four', 'five']

In [48]:
new_list = mylist + another_list

In [50]:
new_list

['one', 'two', 'three', 'four', 'five']

In [52]:
new_list[0] = 'ONE ALL CAPS'

In [53]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [58]:
new_list.append('six')

In [55]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [56]:
new_list.pop()

'six'

In [57]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [59]:
popped_item = new_list.pop()

In [60]:
popped_item

'six'

In [61]:
new_list.pop(0)

'ONE ALL CAPS'

In [62]:
new_list

['two', 'three', 'four', 'five']

In [63]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [64]:
new_list.sort()

In [65]:
new_list

['a', 'b', 'c', 'e', 'x']

In [70]:
num_list.sort()
num_list.reverse()

In [71]:
num_list

[8, 4, 3, 1]

8/20/2020

In [1]:
# Dictionaries: unordered mappings for storing objects 
# syntax: {'key1':'value1', 'key2':'value2'}
# list vs dictionary: location vs key; ordered vs unordered 
my_dict = {'key1':'value1', 'key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [4]:
my_dict['key1']

'value1'

In [5]:
prices_lookup = {'apple':2.99, 'oranges':3.99, 'milk':5.99}

In [6]:
prices_lookup['apple']

2.99

In [7]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'insideKey':100}}

In [8]:
d['k2']

[0, 1, 2]

In [10]:
d['k3']['insideKey']

100

In [11]:
d = {'k1':['a', 'b', 'c']}

In [12]:
mylist = d['k1']

In [13]:
d

{'k1': ['a', 'b', 'c']}

In [14]:
mylist

['a', 'b', 'c']

In [15]:
letter = mylist[2]

In [16]:
letter

'c'

In [18]:
letter.upper()

'C'

In [19]:
d['k1'][2].upper()

'C'

In [21]:
d = {'k1':100, 'k2':200}

In [22]:
d['k3']=300

In [23]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [24]:
d['k1'] = 'NEW VALUE'

In [25]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [26]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [28]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [29]:
d.values()

dict_values([100, 200, 300])

In [30]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [31]:
# Tuples 
# immutable 
# syntax: list using () instead of [] 
t = (1, 2, 3)

In [33]:
mylist = [1, 2, 3]

In [34]:
type(t)

tuple

In [36]:
type(mylist)

list

In [37]:
len(t)

3

In [38]:
t

(1, 2, 3)

In [39]:
t = ('one', 2)

In [40]:
t[0]

'one'

In [41]:
t[-1]

2

In [42]:
t = ('a', 'a', 'b')

In [43]:
t.count('a')

2

In [44]:
t.index('a')

0

In [45]:
t

('a', 'a', 'b')

In [46]:
mylist

[1, 2, 3]

In [47]:
mylist[0] = "NEW"

In [48]:
mylist

['NEW', 2, 3]

In [49]:
# t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [50]:
# Sets 
# unordered collections of unique elements 
myset = set()

In [51]:
myset

set()

In [52]:
myset.add(1)

In [54]:
myset

{1}

In [55]:
myset.add(2)

In [56]:
myset

{1, 2}

In [57]:
myset.add(2)

In [58]:
myset

{1, 2}

In [61]:
mylist = [1, 1,1,1,1,2,23,3,1,23,12,31,23,123,12,312,31,231,23,123,123,13,13,123,12,312,123]

In [62]:
set(mylist)

{1, 2, 3, 12, 13, 23, 31, 123, 231, 312}

In [63]:
# Booleans 
# operators that convey either True or False statements 
True

True

In [64]:
False

False

In [65]:
type(True)

bool

In [66]:
type(False)

bool

In [67]:
1 > 2

False

In [68]:
1 == 1

True

In [69]:
None

In [70]:
b = None

In [71]:
# I/O w/ basic files 
# only in jupiter notebook

In [72]:
%%writefile myfile.txt
Hello this is a text file 
this is the second line 
this is the third line

Writing myfile.txt

In [73]:
myfile = open("myfile.txt")

In [75]:
# getting error #2 by writing wrong name or providing wrong file path
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [76]:
pwd

'C:\\Users\\Steve\\Workspace\\Python programs'

In [77]:
myfile = open('myfile.txt')

In [78]:
myfile.read()

'Hello this is a text file \nthis is the second line \nthis is the third line\n'

In [79]:
myfile.read()

''

In [81]:
myfile.seek(0)

0

In [83]:
myfile.read()

'Hello this is a text file \nthis is the second line \nthis is the third line\n'

In [84]:
myfile.seek(0)

0

In [85]:
contents = myfile.read()

In [86]:
contents

'Hello this is a text file \nthis is the second line \nthis is the third line\n'

In [87]:
myfile.seek(0)

0

In [88]:
myfile.readlines()

['Hello this is a text file \n',
 'this is the second line \n',
 'this is the third line\n']

File Locations 

If want to open files at another location on computer, simply pass entire file path. 
For Windows, need to use double \\ so python escapes \ w/ \: 

    myfile = open("C:\\Users\\UserName\\Folder\\file.txt")

For MacOS and Linux, use slashes in opposite directions: 

    myfile = open("C:/Users/UserName/Folder/file.txt")

In [89]:
myfile.close()

In [91]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [92]:
contents

'Hello this is a text file \nthis is the second line \nthis is the third line\n'

In [94]:
with open('myfile.txt', mode = 'r') as myfile:
    contents = myfile.read()

modes: 

    r to read 
    
    w to write (will overwrite or create new file) 
    
    a to append (add to end of file)
    
    r+ to read and write 
    
    w+ is writing and reading (overwrite existing or create new file)

In [107]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [108]:
with open('my_new_file.txt', mode = 'r') as f: 
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [109]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\nFOUR ON FOURTH')

In [110]:
with open('my_new_file.txt', mode = 'r') as f: 
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [111]:
with open('asdf.txt', mode = 'w') as f: 
    f.write('I CREATED THIS FILE!')w

In [112]:
with open ('asdf.txt',mode = 'r') as f: 
    print(f.read())

I CREATED THIS FILE!

In [1]:
# comparison operators
2==2

True

In [2]:
2==1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [7]:
2.0==2

True

In [8]:
3 != 3

False

In [9]:
4 != 5

True

In [10]:
2 > 1

True

In [11]:
1 > 2

False

In [12]:
2 < 1

False

In [13]:
1 < 2

True

In [14]:
2 >= 2

True

In [15]:
4 <= 1

False

In [16]:
# Chaining comparison operators 
# and needs both conditions to be true 
# or needs one of two conditions to be true
# not returns opposite of boolean
1<2<3

True

In [17]:
1<2>3

False

In [19]:
1<2 and 2<3

True

In [20]:
'h' == 'h' and 2 == 2

True

In [21]:
100 == 1 or 2 == 2

True

In [22]:
100 == 1 or 2 == 200

False

In [24]:
not 1 == 1

False

In [25]:
not 1 == 2

True

In [1]:
# 8/22/2020
# if, elif, else control flow 
# uses mix of colons and indentations 
# if (condition): 
#     code  
# elif (condition):
#     code
# else: 
#     code 
if True: 
    print("IT'S TRUE!")

IT'S TRUE!

In [2]:
if 3>2: 
    print("IT'S TRUE!")

IT'S TRUE!

In [6]:
hungry = True

In [7]:
if hungry: 
    print('FEED ME!')
else: 
    print("I'm not hungry")

FEED ME!

In [13]:
loc = 'Store'
if loc == 'Auto Shop': 
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print("Welcome to the Store!")
else: 
    print("I don't know much.")

Welcome to the Store!

In [16]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else: 
    print("What is your name?")

What is your name?

In [17]:
# For loops
# ITerable meens can iterate over the object or perform an action for every entry within object 
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
for num in mylist: 
    if (num % 2 == 0):
        print(num)

2
4
6
8
10

In [20]:
list_sum = 0
for num in mylist:
    list_sum += num

print(list_sum)

55

In [22]:
for _ in "Hello World!":
    print(_)

H
e
l
l
o

W
o
r
l
d
!

In [24]:
tup = (1, 2, 3)

for item in tup: 
    print(item)

1
2
3

In [25]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [26]:
len(mylist)

4

In [27]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [28]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [29]:
d = {"k1":1, "k2":2, "k3":3}

In [30]:
for item in d:
    print(item)

k1
k2
k3

In [31]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
for key,value in d.items():
    print(value)

1
2
3

In [36]:
# while loops 
# continue to execute code until condition not true 
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X IS NOT LESS THAN 5!')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5!

In [ ]:
# break, continue, pass 
# break: breaks out of current enclosing loop 
# continue: goes to top of current enclosing loop 
# pass: does nothing at all

In [37]:
x = [1,2,3]

In [40]:
for items in x:
    # must have something inside to fill 
    pass

print('end of my script')

end of my script

In [43]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [44]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [46]:
x = 0

while x < 5:
    if x == 2: 
        break
    print(x)
    x += 1

0
1

In [50]:
# useful operators 
# range creates list of series of integers 
# can use shift+tab to see inputs 
# range is generator; fucntion that only generates information; doesn't save information to memory 
for num in range(3, 10, 2):
    print(num)

3
5
7
9

In [51]:
range(3, 10, 2)

range(3, 10, 2)

In [52]:
list(range(3, 10, 2))

[3, 5, 7, 9]

In [53]:
# enumerate 
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [54]:
# enumerate does this: 
index_count = 0
word = 'abcde' 
for letter in word: 
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [55]:
word = 'abcde' 
for item in enumerate(word): 
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [56]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [57]:
# zip 
# groups items from lists together by index 
# only zips as far as shortest list, ignores anything extra 
# creates list of tuples 
mylist1 = list(range(3))
mylist2 = ['a', 'b', 'c']

In [58]:
for item in zip(mylist1, mylist2):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')

In [59]:
# in 
# checks if object contained in other object 
# returns true or false 
'x' in [1, 2, 3]

False

In [60]:
'x' in ['x', 'y', 'z']

True

In [62]:
# min and max 
# returns min/max value within object 
mylist = [1,5866,1361,4618,1681,681,1,61,53,1861,61,68,165,168,16,168,16,16,16,18,1,6186,186,186,4541,67,341,6848,67,8641]

In [63]:
min(mylist)

1

In [64]:
max(mylist)

8641

In [65]:
# random 
# shuffle is in place function, acts on list itself, doesn't return anything 
from random import shuffle

In [66]:
mylist = list(range(1,11))

In [69]:
shuffle(mylist)

In [70]:
mylist

[8, 9, 5, 1, 2, 6, 7, 3, 4, 10]

In [71]:
# randint 
# produces random integer 
from random import randint
randint(0, 100)

25

In [72]:
randint(0, 100)

44

In [73]:
mynum = randint(0, 10)

In [74]:
mynum

9

In [75]:
# accepting user input w/ input function 
# input returns what was inputted 
# input only accepts things as a string, must cast to other types 
input('Enter a number here: ')

Enter a number here: 50

'50'

In [76]:
result = input('What is your name? ')

What is your name? Arnold

In [77]:
result

'Arnold'

In [78]:
# list comprehensions 
# good alternative to appending with for loop 
# flattens for loop into single line in list brackets 
# assumes only action taken is appending each item in iterable to list 
# can perform operations on objects in iterable 
# can determine what to put in w/ if else statement 
# readability and reproducibility are key 
# can do nested loops 

mystring = 'hello'

mylist = []
for letter in mystring:
    mylist.append(letter)

In [79]:
mylist

['h', 'e', 'l', 'l', 'o']

In [81]:
mylist = [letter for letter in mystring]

In [82]:
mylist

['h', 'e', 'l', 'l', 'o']

In [84]:
mylist = [x**2 for x in range(0, 11) if x%2 == 0]

In [85]:
mylist

[0, 4, 16, 36, 64, 100]

In [86]:
celcius = [0, 10, 20 ,34.5, 100]

fahrenheit = [((9/5) * temp + 32) for temp in celcius]

In [87]:
fahrenheit

[32.0, 50.0, 68.0, 94.1, 212.0]

In [90]:
results = [x if x%2==0 else "ODD" for x in range(11)]

In [91]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [92]:
mylist = []

for x in [1, 2, 3]:
    for y in [10, 100, 1000]:
        mylist.append(x*y)

In [93]:
mylist

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [94]:
mylist = [x*y for x in [1, 2, 3] for y in [10, 100, 1000]]

In [96]:
mylist

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [1]:
# 8/24/2020
# methods and functions 
# methods: functions that are built into objects
# finding and getting information on methods 
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
# finding methods 
# can use tab after typing (instance).
# shift+tab for jupiter notebook provides information on method 
# help funciton does same thing, but for other scripting tools 
# python documentation can be viewed at docs.python.org 
# main documentation page has link on all changes for newest build 
# contains FAQs 
# library reference: official documentation 
# stack overflow might be more readable

In [7]:
# functions 
# allow to create blocks of code that can be easily executed many times w/out needing to rewrite entire block of code 

# def keyword 
# allows to create functions in python 
# overview of structure 
# def name_of_function():
# use snake casing in naming functions: all lowercase w/ underscores instead of spaces 
# parentheses hold vairables to input 
#     "docstring to explain function"
#     code to run 
# call function to run code inside function 
# typically use return to give output for assignment

In [11]:
# basic functions
def say_hello():
    print("Hello")
    print('how are you')
    print('...')

In [16]:
# need parentheses 
say_hello()

Hello Default

In [15]:
# defining parameters provides defualt value 
def say_hello(name='Default'):
    print(f'Hello {name}')

In [14]:
say_hello('Jose')

Hello Jose

In [17]:
def add_num(n1, n2):
    return n1+n2

In [19]:
result = add_num(10,20)

In [20]:
result

30

In [21]:
def print_result(a, b):
    print(a+b)

def return_result(a, b):
    return a+b

In [22]:
print_result(10,20)

30

In [23]:
result = print_result(10,20)

30

In [24]:
type(result)

NoneType

In [25]:
result = return_result(10,20)

In [26]:
result

30

In [31]:
# logic w/ functions 
work_hours = [('Abby',100), ('Billy',400), ('Cassie',80)]

def employee_check(work_horus):
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours>current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month, current_max)

In [35]:
result = employee_check(work_hours)

In [1]:
# 8/25/2020
# interactions between python functions 
from random import shuffle
ex = [1,2,3,4,5,6,7]
shuffle(ex)

In [2]:
ex

[3, 1, 7, 5, 6, 4, 2]

In [3]:
def shuffle_list(l):
    shuffle(l)
    return l

In [4]:
result = shuffle_list(ex)

In [5]:
result

[2, 5, 7, 4, 1, 3, 6]

In [6]:
gamelist = [' ', 'O', ' ']

In [7]:
shuffle_list(gamelist)

['O', ' ', ' ']

In [10]:
def player_guess():
    guess = ''
    while guess not in ['0', '1', '2']:
        guess = input("Pick a number: 0, 1, or 2\n")
    
    return int(guess)

In [11]:
guess = player_guess()

Pick a number: 0, 1, or 2
0

In [20]:
def check_guess(gamelist, guess):
    if gamelist[guess] == 'O':
        print('Correct!')
    else: 
        print("Wrong guess!")
    print(gamelist)

In [21]:
# INITIAL LIST
gamelist = ['O', ' ', ' ']

# SHUFFLE LIST
mixedlist = shuffle_list(gamelist)

# USER GUESS 
guess = player_guess()

# CHECK GUESS
check_guess(mixedlist, guess)

Pick a number: 0, 1, or 2
1
Correct!
[' ', 'O', ' ']

In [24]:
# *args and **kwargs
# arguments and keyword arguments 
def myfunc(a, b):
    # returns 5% of the sum of a and b
    return sum((a,b))*0.05

In [25]:
myfunc(40, 60)

5.0

In [26]:
# *args allow to have unlimited number of positional arguments
# treated as tuple when passed in
# conventianally use args, but only actually indicated by * in front; can be any word following
def myfunc(*args):
    # returns 5% of the sum of a and b
    return sum(args)*0.05

In [27]:
myfunc(40,60,100,100,100,100,100)

30.0

In [28]:
# *kwargs allows for arbitrary number of keyword arguments 
# builds dictionary of key,value pairs 
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else: 
        print('I did not find any fruit here')

In [29]:
myfunc(fruit='apple', veggie='lettuce')

My fruit of choice is apple

In [30]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)

In [31]:
# args and kwargs must follow function parameter positions 
myfunc(10, 20, 30, fruit = 'orange', food = 'eggs', animal = 'dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}

In [34]:
# lambda expressions and map filter 
# lambda expressions: way to quickly create anonymous functions AKA one time use functions 
# map takes a function and applies it to all items in an iterable
def square(num): 
    return num**2

In [58]:
nums = [1,2,3,4,5,6]

In [39]:
for item in map(square, nums): 
    print(item)

1
4
9
16
25

In [40]:
list(map(square, nums))

[1, 4, 9, 16, 25]

In [44]:
def splicer(st):
    if len(st)%2==0:
        return 'EVEN'
    else: 
        return st[0]

In [45]:
names = ['Andy','Eve','Sally']

In [46]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [48]:
# filter return an iterator of the items in an iterable that return true when passed into a function 
# must filter by a function that returns true or false 
def check_even(num):
    return num%2==0

In [49]:
li=[1,2,3,4,5,6]

In [51]:
list(filter(check_even, li))

[2, 4, 6]

In [56]:
# lambda expression
square = lambda num: num ** 2
square(9)

81

In [59]:
list(map(lambda num:num**2,nums))

[1, 4, 9, 16, 25, 36]

In [60]:
list(filter(lambda num:num%2==0, nums))

[2, 4, 6]

In [62]:
list(map(lambda name:name[::-1], names))

['ydnA', 'evE', 'yllaS']

In [63]:
# nested statements and scope 
# scope gives rules to know which variable reffered to 
# LEGB format: local, enclosed function locals, globals, built-in; order which python looks for variable 
x = 25 
def printer():
    x=50 
    return x

In [64]:
print(x)

25

In [65]:
print(printer())

50

In [66]:
# local variable example: num in lambda 
lambda num:num**2

In [67]:
# this is global 
name = 'THIS IS A GLOBAL STRING'

def greet():
    # this is enclosing function local 
    name = 'Sammy'
    
    def hello():
        # this is local 
        print('Hello '+name)
        
    hello()

greet()

Hello Sammy

In [75]:
x = 50 

def func():
    # to change x in function declare as global 
    global x 
    print(f'X is {x}')
    
    # local reassignment on a global variable
    x = 'NEW VALUE' 
    print(f'I just locally changed global X to {x}')

func()
print(x)

# generally avoid global keyword 
# instead, insert as parameter and return modification

X is 50
I just locally changed global X to NEW VALUE
NEW VALUE

In [76]:
# intro to milestone project 
# dispaly somethng visual to user 
# let user update through interaction 
# update variables in program
# display updated visual

In [77]:
# displaying information 
# combine custom function w/ print function to create display 
def display(row1, row2, row3): 
    print(row1)
    print(row2)
    print(row3)

In [8]:
row1 = [' ', ' ', ' ']
row2 = [' ', ' ', ' ']
row3 = [' ', ' ', ' ']

In [81]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [82]:
row2[1] = 'X'

In [83]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']

In [1]:
# 8/27/2020
# accepting user input 
# always use input function 
input("Please enter a value: ")

Please enter a value: 2

'2'

In [2]:
result = input("Please enter a value: ")

Please enter a value: 2

In [3]:
result

'2'

In [4]:
type(result)

str

In [5]:
result = input("Enter value: ")

Enter value: 2

In [6]:
result_int = int(result)

In [7]:
# input function always returns string 
# need to convert for specific data type 
position_index = int(input("Choose an index position: "))

Choose an index position: 2

In [9]:
row2[position_index]

' '

In [10]:
# converting input requires specific responses to be converted 
# input waits for user reply, so can't run other cells 
# if overwrite input w/ same input, need to restart kernel

In [40]:
# validating user input 
# validate to avoid errors in other parts of code 
def user_choice(): 
    choice = "WRONG"
    acceptable_values = range(10)
    within_range = False
    while not choice.isdigit() or not within_range:
        choice = input("Please enter a number(0-10): ")
        if not choice.isdigit(): 
            print("Sorry, that is not a digit!")
        else: 
            if int(choice) in acceptable_values: 
                within_range = True
            else: 
                print("Sorry, you are out of acceptable range (0-10)")
                within_range = False
    return int(choice)

In [41]:
user_choice()

Please enter a number(0-10): 20
Sorry, you are out of acceptable range (0-10)
Please enter a number(0-10): asd
Sorry, that is not a digit!
Please enter a number(0-10): 2

2

In [15]:
# need to make sure data inputted valid for data type desired  
# need to check that input within desired scope 
some_value = '100'

In [16]:
some_value.isdigit()

True

In [42]:
# simple user interaction 
game_list = [0,1,2]

In [44]:
def display_game(game_list):
    print(' Here is the current list: ')
    print(game_list)

In [45]:
display_game(game_list)

 Here is the current list:
[0, 1, 2]

In [47]:
def position_choice(): 
    choice = 'wrong'
    
    while choice not in ['0', '1', '2']:
        choice = input("Pick a position (0,1,2): ")
        if choice not in ['0','1','2']:
            print("Sorry, invalid choice!")
    
    return int(choice)

In [48]:
position_choice()

Pick a position (0,1,2): 3
Sorry, invalid choice!
Pick a position (0,1,2): 2

2

In [49]:
def replacement_choice(game_list, position):
    user_placement = input("Type a string to place at position: ")
    game_list[position] = user_placement
    return game_list

In [50]:
replacement_choice(game_list, 2)

Type a string to place at position: test

[0, 1, 'test']

In [54]:
def gameon_choice(): 
    choice = 'wrong'
    
    while choice not in ['Y', 'N']:
        choice = input("Keep playing? (Y or N) ")
        if choice not in ['Y', 'N']:
            print("Sorry, I don't understand, please choose Y or N")
    
    if choice == 'Y':
        return True 
    else: 
        return False

In [55]:
gameon_choice()

Keep playing? (Y or N) Y

True

In [57]:
game_on = True 
game_list = [0,1,2]

while game_on: 
    display_game(game_list)
    position = position_choice()
    game_list = replacement_choice(game_list, position)
    display_game(game_list)
    game_on = gameon_choice()

 Here is the current list:
[0, 1, 2]
Pick a position (0,1,2): s
Sorry, invalid choice!
Pick a position (0,1,2): d
Sorry, invalid choice!
Pick a position (0,1,2): g
Sorry, invalid choice!
Pick a position (0,1,2): 5
Sorry, invalid choice!
Pick a position (0,1,2): 6
Sorry, invalid choice!
Pick a position (0,1,2): 2
Type a string to place at position: asdasd
 Here is the current list:
[0, 1, 'asdasd']
Keep playing? (Y or N) N